.icon-danger {
  color: #60773d;
}

.icon-black {
  color: #ffffff;
}

.icon-cream {
  color: #d8d8d2;
}

.btn-danger{
  background-color: #60773d;
  border-color:#4e6773;
}

b{
  font-weight: bold;
}