<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/ane.jpg');">
    <div class="container">
        <div class="title-brand">
        </div>
        <h1 class="presentation-subtitle text-center"><b>ANELIE DECOMOTAN</b><br/>/* Software Developer */</h1>
    </div>
</div>
    <div class="main">
    <div class="section section-dark-blue text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h4 class="title icon-cream">
                        University of the Philippines Open University<br/>
                        Los Baños, Laguna<br/>
                        <b>Master of Information Systems</b><br/>
                        2017 - 2019<br/><br/>

                        West Visayas State University<br/>
                        Luna Street, La Paz, Iloilo City<br/>
                        <b>Bachelor of Science in Information Technology</b><br/>
                        Magna Cum Laude<br/>
                        2008  -2012<br/><br/>

                        DOST-SEI RA 7687<br/>
                        Department of Science and Technology<br/>
                        June 2008 – 2012
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
    <div class="section section-nude text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h5 class="title">
                        Systems Developer<br/>
                        Teloworks Philippines Inc.<br/>
                        6F SSHG Building, 105 Paseo De Roxas,<br/>
                        Makati City 1226<br/>
                        April 2014 - present<br/><br/>

                        Software Developer<br/>
                        Everyone Technologies, Inc.<br/>
                        2nd Level, The Atrium,<br/>
                        General Luna Street,<br/>
                        Iloilo City 5000<br/>
                        March 2012 – March 2014
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="section section-dark-blue text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h3 class="title icon-cream">
                            Technical Skills
                        </h3>
                        <h5 class="title icon-cream">
                            •	Angular
                            •	Java (Spring Framework)
                            •	Microsoft SQL Server
                            •	HTML
                            •	SCSS
                            •  Python
                            •  <br> <br>

                            •	C# (.NET Framework 3.5/4.0)
                            •	Windows Presentation Foundation (WPF)
                            •	ASP.NET
                            •	Angular JS
                            •  Android Applications Development
                            •

                        </h5>
                    </div>
                </div>
            </div>
        </div>
<div class="section section-image text-center" style="background-image: url('../assets/img/iconbg.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-cream">
                        <i class="nc-icon nc-calendar-60"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Disciplined</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-cream">
                        <i class="nc-icon nc-email-85"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Organized</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-cream">
                        <i class="nc-icon nc-tv-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Logical</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-cream">
                        <i class="nc-icon nc-camera-compact"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Creative</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="text-center">Contact Me</h2>
                <br/>
                <div class="row" class="text-center">
                    <i class="nc-icon nc-mobile"></i>  Mobile Number: +639053112735
                </div>
                <div class="row" class="text-center">
                    <i class="nc-icon nc-email-85"></i>  Email Address: AGDecomotan@yahoo.com
                </div>
                <div class="row" class="text-center">
                    <i class="nc-icon nc-compass-05"></i>  Home Address: Capt. M Reyes St., Makati City
                </div>
            </div>
        </div>
    </div>
</div>
</div>
