<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/header.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h5 class="description">
                        Satisfaction is a hit when you are a part of our team. Let's encase those marvelous and momentous  chapters of your life in photography and motion picture that lasts a lifetime. Jointly, creating and inspiring captured moments through how you conjure. With the assistance from the state of the art editing programs and our professional crew, we'll always have it your way.
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-gray text-center">
        <div class="container">
            <h2 class="title">The Team</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="../assets/img/faces/jas.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Jas</h4>
                                    <h6 class="card-category">Creative Director</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                I'm a passionate Graphic Designer based in Singapore. I love every point of my work that define simple, smart and effective style. I have strong interests in Food, Travel and Digital Arts.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="../assets/img/faces/yen.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Yen</h4>
                                    <h6 class="card-category">Content Manager</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Life is a vista of colors or every hue set to be captured through lenses that makes wonder and excursion. Excélsior!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="../assets/img/faces/ane.jpg" alt="..."></a>
                        </div>

                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Ane</h4>
                                    <h6 class="card-category">Developer</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                <3
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
